{% extends 'trailers/base.html' %}

{% block content %}
  <h2>Iniciar sesión aaaaa</h2>
  {% if form.errors %}
    <p style="color: red;">Credenciales inválidas, intenta de nuevo.</p>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <div>
      <label for="id_username">Usuario:</label>
      <input type="text" name="username" autofocus required id="id_username">
    </div>
    <div>
      <label for="id_password">Contraseña:</label>
      <input type="password" name="password" required id="id_password">
    </div>
    <button type="submit">Entrar</button>
  </form>
{% endblock %}
